# terraform.tfvars

# Subscription vars
subscription_id = "your-subscription-id"

# Key vault vars
key_vault_rg   = "your-key-vault-resource-group"
key_vault_name = "your-key-vault-name"

# Resource group vars
location            = "your-location"
resource_group_name = "your-resource-group-name"

# VNet vars
main_vnet_address_space = ["your-main-vnet-address-space"]
# Example: ["192.168.0.0/16"]

subnet1_prefix          = ["your-subnet1-prefix"]
# Example: ["192.168.1.0/24"]




