#terraform.tfvars

# Subscription vars
subscription_id = "your-subscription-id"

# Key vault vars
key_vault_rg   = "your-key-vault-resource-group"
key_vault_name = "your-key-vault-name"

# Resource group vars
location = "your-location"
new_resource_group_name = "your-new-resource-group-name"